@()(implicit webJarAssets: WebJarAssets)

@main("Login") {

    <form class="form-horizontal">
        <div class="input-group col-md-8">
            <span class="input-group-addon">@@</span>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="input-group col-md-8">
            <span class="input-group-addon glyphicon glyphicon-jpy"></span>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </form>
}