@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(implicit webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))"></script>

        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("marked.js"))'></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.fullPath("react", "react.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("react-dom.min.js"))"></script>


    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <div class="container">
            @content
        </div>
            <!-- <div id="test"></div> -->

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.js"))"></script>
        <script src="@routes.Assets.versioned("javascripts/test.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/websocket.js")"></script>

    </body>


</html>
